{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    <title>Update Existing</title>
     <meta charset="UTF-8" />
   </head>
   <body>
    <br>
    <br>
    <br>
    <br>
    <br>
      <form action = "{{ url_for('exist') }}" method = "POST">
        <label><h2>Choose an existing row to Update:</h2></label>
        <br>
        <select name="exist_row">
      {% for item in device_id_display %}
          <option type="option" value= "{{ item[0] }}">{{ item[0] }}</option>
      {% endfor %}
        </select>
        <input type = "submit" value = "submit" /><br>
      </form>
    <br>
    <table id="ddata" class="table table-striped" style="justify-content: left;">
    {% for item_exist in display_html_exist %}
      <thead>
        <tr>
          <th>Device ID</th>
          <th>Location Status</th>
          <th>Repair Status</th>
          <th>Purchase Date</th>
          <th>Purchase Description</th>
          <th>Account</th>
          <th>Cost</th>
          <th>Location Fixed</th>
          <th>Serial Number</th>
          <th>Audit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ item_exist[0] }}</td>
          <td> {{ item_exist[1] }}</td>
          <td> {{ item_exist[2] }}</td>
          <td> {{ item_exist[3] }}</td>
          <td> {{ item_exist[4] }}</td>
          <td> {{ item_exist[5] }}</td>
          <td> {{ item_exist[6] }}</td>
          <td> {{ item_exist[7] }}</td>
          <td> {{ item_exist[8] }}</td>
          <td> {{ item_exist[9] }}</td>
        </tr> 
    {% endfor %}
    </table>
  {% block scripts %}
    <script>
      $(document).ready(function () {
        $('#ddata').DataTable();
      });
    </script>
  {% endblock %} 
  {% for item_exist in display_html_exist %}
    <form action = "{{ url_for('exists') }}" method = "POST">
      Device ID<br>
      <input type = "text" name = "update_id" value="{{ item_exist[0] }}" style="width: 250px"/></br>
    
      Location Status<br>
      <input type = "text" name = "update_loc" value="{{ item_exist[1] }}" style="width: 250px"/></br>
      
      Repair Status<br>
      <input type = "text" name = "update_rep" value="{{ item_exist[2] }}" style="width: 250px"/><br>
    
      Purchase Date<br>
      <input type = "text" name = "update_pur" value="{{ item_exist[3] }}" style="width: 250px"/><br>
    
      Purchase Description<br>
      <input type = "text" name = "update_pur_d" value="{{ item_exist[4] }}" style="width: 250px"/><br>
    
      Account<br>
      <input type = "text" name = "update_acc" value="{{ item_exist[5] }}" style="width: 250px"/><br>
    
      Cost<br>
      <input type = "text" name = "update_cos" value="{{ item_exist[6] }}" style="width: 250px"/><br>
    
      Location Fixed<br>
      <input type = "text" name = "update_loc_f" value="{{ item_exist[7] }}" style="width: 250px"/><br>
    
      Serial<br>
      <input type = "text" name = "update_ser" value="{{ item_exist[8] }}" style="width: 250px"/><br>
    
      Audit<br>
      <input type = "text" name = "update_aud" value="{{ item_exist[9] }}" style="width: 250px"/><br>
    
      <input type = "submit" value = "submit" /><br>
    </form>
  {% endfor %}
   </body>
</html>
{% endblock %}