
{% extends "base.html" %}

{% block content %}
<header id="header">
  <nav class="links" style="--items: 4;">
      <a href="index.html">Add Existing</a>
      <a href="update.html">Add New</a>
      <a href="delete.html">Delete Row</a>
      <a href="https://www.stemminds.com/" target="_blank"><img src="/static/logo.png" height="60px"></a>
      <span class="line"></span>
  </nav>
</header>
 <br>
 <br>
 <br>
 <br>
 <br>

<div class="d">
  <table id="data" class="table table-striped" style="justify-content: left;">
    <thead>
        <tr>
          <th>Device ID</th>
          <th>Location Status</th>
          <th>Repair Status</th>
          <th>Purchase Date</th>
          <th>Purchase Description</th>
          <th>Account</th>
          <th>Cost</th>
          <th>Location Fixed</th>
          <th>Serial Number</th>
          <th>Audit</th>
        </tr>
      </thead>
      <tbody>
        {% for row in value %}
        <tr>
          <td> {{ row[0] }}</td>
          <td> {{ row[1] }}</td>
          <td> {{ row[2] }}</td>
          <td> {{ row[3] }}</td>
          <td> {{ row[4] }}</td>
          <td> {{ row[5] }}</td>
          <td> {{ row[6] }}</td>
          <td> {{ row[7] }}</td>
          <td> {{ row[8] }}</td>
          <td> {{ row[9] }}</td>
        </tr> 
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}