
{% extends "base.html" %}

{% block content %}
 <br>
 <br>
 <br>
 <br>
 <br>

 <div class="tableFixHead">
  <table id="data" class="table table-striped" style="justify-content: center;">
    <thead>
        <th>Device ID</th>
        <th>Location Status</th>
        <th>Repair Status</th>
        <th>Purchase Date</th>
        <th>Purchase Description</th>
        <th>Account</th>
        <th>Cost</th>
        <th>Location Fixed</th>
        <th>Serial Number</th>
        <th>Audit</th>
    </thead>
    <tbody>
        {% for row in value %}
        <tr>
          <td> {{ row[0] }}</td>
          <td> {{ row[1] }}</td>
          <td> {{ row[2] }}</td>
          <td> {{ row[3] }}</td>
          <td> {{ row[4] }}</td>
          <td> {{ row[5] }}</td>
          <td> {{ row[6] }}</td>
          <td> {{ row[7] }}</td>
          <td> {{ row[8] }}</td>
          <td> {{ row[9] }}</td>
        </tr> 
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}