<!DOCTYPE html>
<html>
<body>

<h2>Create new row</h2>

<form action = "{{ url_for('update') }}" method = "POST">
  <h3>Student Information</h3>
  Device ID<br>
  <input type = "text" name = "d_id" /></br>

  Location Status<br>
  <input type = "text" name = "loc" /></br>
  
  Repair Status<br>
  <input type = "text" name = "rep" /><br>

  Purchase Date<br>
  <input type = "text" name = "pur" /><br>

  Purchase Description<br>
  <input type = "text" name = "pur_d" /><br>

  Account<br>
  <input type = "text" name = "acc" /><br>

  Cost<br>
  <input type = "text" name = "cos" /><br>

  Location Fixed<br>
  <input type = "text" name = "loc_f" /><br>

  Serial<br>
  <input type = "text" name = "ser" /><br>

  Audit<br>
  <input type = "text" name = "aud" /><br>

  <input type = "submit" value = "submit" /><br>
</form>
<br>
<br>

  
</body>
</html>



</body>
</html>

